{block content}

<p><a n:href="Mod:default">← back to mods list</a></p>

<h1 n:block="name">{$mod->name}</h1>

{if $mod->image}
    <img src="{$basePath}/{$mod->image}" alt="Thumbnail">
{/if}

<div class="mod">{$mod->description}</div>

{if $mod->vidprev}
    <h2>Preview video:</h2>
    <iframe width="560" height="315" src="{$mod->vidprev}" frameborder="0" allowfullscreen></iframe>
{/if}


<div class="date">Created on {$mod->created_at|date:'D. F j, Y'}</div>

<a n:href="ModEdit:edit $mod->id">Edit Post</a>



