{* This is the welcome page, you can delete it *}

{block content}
<h1>Categories</h1>

{foreach $categories as $category}
	<div class="category">
		<h2><a href="{link Category:show $category->id}">{$category->name}</a></h2>

		<div>{$category->description|truncate:256}</div>
	</div>
	{/foreach}
