{* This is the welcome page, you can delete it *}

{block content}

<div class="main-panel">
	<h1 class="centered_title">Categories</h1>
	{foreach $categories as $category}
		<div class="item">
			<h2 class="white"><a href="{link Category:show $category->id}">{$category->name}</a></h2>

			<div class="category_description">{$category->description|truncate:256}</div>
		</div><br>
	{/foreach}
</div>


