database:
	dsn: 'mysql:host=127.0.0.1;dbname=quickstart'
	user: root
	password: root
mail:
	# použije SmtpMailer
	smtp: true       # (bool) výchozí je false

	host: 'smtp.seznam.cz'       # (string)
	port: 465        # (int)
	username: 'tempmail.zabbix@seznam.cz'    # (string)
	password: '23072004Ds'    # (string)
	encryption: 'ssl'