services:
	- App\Core\RouterFactory
	- App\Services\MailManager
	router:
		type: Nette\Application\IRouter
		factory: @App\Core\RouterFactory::createRouter


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
