@font-face {
    font-family: COD;
    src: url(../fonts/call_of_duty.otf)
}
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: black;
}

body {
    background-color: black;
    background-image: url("../img/bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.main-panel {
    margin: 0 auto;
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.596);
    padding: 0 1%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #545D1C;
    border-bottom: 15px solid #383F09;
    padding-top: 5px;
}
.inner_header {
    width: 80%;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.logo_container {
    height: 100%;
    width: 8%;
    min-width: 80px;
/*    background-color: purple; */
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.navigation {
    display: flex;
}
.navigation li {
    position: relative;
}
.navigation li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: COD;
    color: white;
}
.navigation li:hover .sub-navigation {
    display: block;
}
.sub-navigation {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
}
.sub-navigation li {
    display: block;
}
.sub-navigation li a {
    display: block; /* Nastavíme odkazy jako blokové elementy */
    color: #333;
    text-decoration: none;
    padding: 2px 2px;
    width: max-content;
    box-sizing: border-box; 
}
.sub-navigation li:hover {
    background-color: #f4f4f4;
}

.wrapper {
    width:90%;
    max-width: 1100;
    padding: 0 5%;
    margin: 0 auto;
    background-color: hsla(0, 0%, 0%, 0.222);
    border-left: 1px solid black;
    border-right: 1px solid black;
 /*   height: 800px; */
}

.items_grid {
    display: grid; /* Použijeme grid layout pro mřížku */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Automatické rozdělení na sloupce, minimálně 150px široké */
    justify-content: center;
    gap: 5px; 
}

.item {
    background-color: rgba(0, 0, 0, 0.571); /* Černé pozadí s průhledností 25% */
    width: 95%; /* Šířka 100% */
    position: relative;
    padding: 2%;
    border-radius: 10px;
}
.item_description {
    width: 440px;
    height: 85px;
    position: absolute;
    top: 35px;
    right: 10px;
    float:left;
}
.item_description p {
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.category_description {
    color: white;
}

.item_icon_container {
    background-color: rgba(0, 0, 0, 0.197);
    border-radius: 10px;
    height: 120px;
    width:120px;
    padding: 0.5%;
    float:left;
}
.item_title {
    position: absolute;
    width: 440px;
    top: 5px;
    right: 10px;
    text-align: left;
}
.item_title h2 a{
    color:rgb(10, 203, 52);
    text-decoration: none;
}

.item_icon_container img {
    max-width: 100%;
    max-height: 100%;
}
.item_date {
    position:absolute;
    color: white;
    bottom: 5px;
    right: 10px;
}

.show_item {
    background-color: rgba(0, 0, 0, 0.571);
    border-radius: 10px;
    width: 1100px;
    height: 580px;
    padding: 0.5%;
    margin: 0 auto;
    position:relative;
}
.show_item_vidprev {
    position: absolute;
    left: 10px;
    bottom: 10%;
    color: white;
    top: 240px;
}
.show_item_title {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 860px;
    color: greenyellow;
}
.show_mod_description {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 860px;
    color: white;
}
.show_item_date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}
.show_item_icon_container {
    background-color: rgba(0, 0, 0, 0.721);
    border-radius: 10px;
    height: 200px;
    width:200px;
    padding: 1%;
    position: absolute;
    top: 10px;
    left: 10px;
}
.show_item_icon_container img {
    max-width: 100%;
    max-height: 100%;
}
.comments {
    color: white;
}
.comments p {
    color: white;
}
.paginator-pagination {
    background-color: rgba(0, 0, 0, 0.615);
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 20px;
    border-radius: 20px;
}
.paginator-pagination p {
    color: white;
}
.paginator-pagination a {
    color: white;
}
.centered_title {
    color: white;
    text-align: center;
}
.centered_title a {
    color: white;
    text-decoration: none;
}
.green {
    color: greenyellow;
}
.white *{
    color: white;
}


.footer {
    width: 100%;
    height: 80px;
    background-color: #545D1C;
    border-top: 15px solid #383F09;
    color: white;
    font-family: COD;
    text-align: center;
}

